@{
    ViewData["Title"] = "Investment Chart";
}

<div class="text-center">
    <h1 class="display-4">Investment Chart</h1>
    @await Html.PartialAsync("_Controls")
    <hr />
    @await Html.PartialAsync("_Chart")
</div>
